<%= div_for(object, property.names.param, :class => classes(
      property.type => true,
      'has-errors'  => object.errors[property.names.param]
      )) do %>

  <% if property.label %>
    <%= form.label(property.names.param, property.label, :class => 'label') %>
  <% end %>

  <% if object.errors[property.names.param] %>
    <span class="error">
      <%=raw [object.errors[property.names.param]].flatten.join('<br/>') %>
    </span>
  <% end %>

  <%= form.datetime_select(property.names.param, property.options) %>

  <% if property.description %>
    <span class="description"><%=raw property.description %></span>
  <% end %>
<% end %>