<div class="block" id="block-forms">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <% @manifest.tabs.each_with_index do |tab, idx| %>
        <li class="<%= 'first' if idx == 0 %>"><%= link_to tab.name, tab.url_for_object(@object) %></li>
  <% end %>
</ul>
  </div>
  <div class="content">
    <h2 class="title"><%= manifest.names.human(:short => true) %></h2>
    <div class="inner">
      <%= form_for @object, :url => save_url, :html => {:class => 'form', :multipart => true} do |f| %>

      <%= @manifest.widgets.render(self, @object, :form => f) %>

      <div class="group navform wat-cf">
        <button class="button" type="submit">
          <img src="images/icons/tick.png" alt="Save" /> Save
        </button>
        <a href="#header" class="button">
          <img src="images/icons/cross.png" alt="Cancel"/> Cancel
        </a>
      </div>

      <% end %>
    </div>
  </div>
</div>
