<% content_for :actions do %>
<div class="block">
  <h3>Actions</h3>
  <ul class="navigation">
    <li><%= link_to 'New item', manifest.urls.new(@parent) %></li>
  </ul>
</div>
<% end %>

<div class="block" id="block-tables">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><a href="#block-text">Text</a></li>
      <li class="active"><a href="#block-tables">Tables</a></li>
      <li><a href="#block-forms">Forms</a></li>
      <li><a href="#block-messages">Messages</a></li>
      <li><a href="#block-forms-2">2 Columns Forms</a></li>
      <li><a href="#block-lists">Lists</a></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Tables</h2>
    <div class="inner">
      <form action="#" class="form">
        <table class="table">
          <tr>
            <th class="first"><input type="checkbox" class="checkbox toggle" /></th>
            <th>ID</th>
            <th>Name</th>
            <th class="last">&nbsp;</th>
          </tr>
          <% @collection.each do |object| %>
          <%= content_tag_for :tr, object, :class => cycle(%w(odd even)) do %>
            <td><input type="checkbox" class="checkbox" name="id" value="1" /></td>
            <td><%= object.id %></td>
            <td>
              <%= link_to object.__send__(manifest.primary_name_column), manifest.urls.edit(object) %>
              <% if manifest.secondary_name_column %>
              <span><%= object.__send__(manifest.secondary_name_column) %></span>
              <% end %>
            </td>
            <td class="last">
              <%= link_to 'destroy', manifest.urls.destroy(object), :method => :delete, :alert => 'Ar you sure?' %>
            </td>
          <% end %>
          <% end %>
        </table>
        <div class="actions-bar wat-cf">
          <div class="actions">
            <button class="button" type="submit">
              <img src="images/icons/cross.png" alt="Delete" /> Delete
            </button>
          </div>
          <div class="pagination">
            <span class="disabled prev_page">« Previous</span><span class="current">1</span><a rel="next" href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a><a href="#">11</a><a rel="next" class="next_page" href="#">Next »</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
