<% content_for :sidebars do %>
<div class="block">
  <h3>Actions</h3>
  <ul class="navigation">
    <% if @parent_manifest %>
      <li><%= link_to "New #{manifest.names.human(:short => true)}", @parent_manifest[@parent_association].urls.new(@parent) %></li>
    <% else %>
      <li><%= link_to "New #{manifest.names.human(:short => true)}", manifest.urls.new(@parent) %></li>
    <% end %>
  </ul>
</div>

  <% @manifest.sidebars.render(params[:action]) do |sidebar| %>
    <%= render(sidebar) %>
  <% end %>
<% end %>

<div class="block" id="block-tables">
  <div class="secondary-navigation">
    <% if @manifest.owner %>
      <% man = @manifest.owner.constantize.manifest %>
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{man.names.human(:short => true)}: #{@parent.__send__(man.primary_name_column)}", man.urls.show(@parent) %></li>
    </ul>
    <% end %>
  </div>
  <div class="content">
    <h2 class="title"><%= manifest.names.human(:plural => true) %></h2>
    <div class="inner">
      <form action="#" class="form">
        <table class="table">
          <tr>
            <th class="first"><input type="checkbox" class="checkbox toggle" /></th>
            <th>ID</th>
            <th>Name</th>
            <th class="last">&nbsp;</th>
          </tr>
          <% @collection.each do |object| %>
          <%= content_tag_for :tr, object, :class => cycle(%w(odd even)) do %>
            <td><input type="checkbox" class="checkbox" name="id" value="1" /></td>
            <td><%= object.id %></td>
            <td>
              <%= link_to object.__send__(manifest.primary_name_column), manifest.urls.edit(object) %>
              <% if manifest.secondary_name_column %>
              <span><%= object.__send__(manifest.secondary_name_column) %></span>
              <% end %>
            </td>
            <td class="last">
              <%= link_to 'destroy', manifest.urls.destroy(object), :method => :delete, :alert => 'Ar you sure?' %>
            </td>
          <% end %>
          <% end %>
        </table>
        <div class="actions-bar wat-cf">
          <div class="actions">
            <button class="button" type="submit">
              <img src="images/icons/cross.png" alt="Delete" /> Delete
            </button>
          </div>

          <div class="pagination">
            <%
              page_count   = (@collection_count / 25.0).ceil
              current_page = (params[:p] || 1).to_i
              pages        = (1..page_count).to_a
            %>

            <% if current_page == 1 %>
              <span class="disabled prev_page">« Previous</span>
            <% else %>
              <a rel="prev" class="prev_page" href="?p=<%= current_page - 1 %>">« Previous</a>
            <% end %>

            <% pages.each do |page| %>
              <% if page == current_page %>
                <span class="current"><%= page %></span>
              <% elsif (page - 1) == current_page %>
                <a rel="next" href="?p=<%= page %>"><%= page %></a>
              <% elsif (page + 1) == current_page %>
                <a rel="prev" href="?p=<%= page %>"><%= page %></a>
              <% else %>
                <a href="?p=<%= page %>"><%= page %></a>
              <% end %>
            <% end %>

            <% if current_page == page_count %>
              <span class="disabled next_page">Next »</span>
            <% else %>
              <a rel="next" class="next_page" href="?p=<%= current_page + 1 %>">Next »</a>
            <% end %>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
