<%

input_options = property.options || {}
input_options[:class] = [input_options[:class], 'file_field'].compact.join(' ')

%>
<%= div_for(object, property.names.param, :class => [property.type, 'group'].join(' ')) do %>
  <% if object.errors[property.names.param] %>
    <div class="fieldWithErrors">
      <%= form.label(property.names.param, property.label, :class => 'label') if property.label %>
      <span class="error"><%=raw [object.errors[property.names.param]].flatten.join('<br/>') %></span>
    </div>
  <% else %>
    <%= form.label(property.names.param, property.label, :class => 'label') if property.label %>
  <% end %>
  <%= form.file_field(property.names.param, input_options) %>
  <% if property.description %>
    <span class="description"><%= property.description %></span>
  <% end %>
<% end %>