<%

input_options = property.options || {}
input_options[:class] = [input_options[:class], 'text_field'].compact.join(' ')

%>
<%= div_for(object, property.name, :class => [property.type, 'group'].join(' ')) do %>
  <% if object.errors[property.name] %>
    <div class="fieldWithErrors">
      <%= form.label(property.name, property.label, :class => 'label') if property.label %>
      <span class="error"><%=raw [object.errors[property.name]].flatten.join('<br/>') %></span>
    </div>
  <% else %>
    <%= form.label(property.name, property.label, :class => 'label') if property.label %>
  <% end %>
  <%= form.text_field(property.name, input_options) %>
  <% if property.description %>
    <span class="description"><%= property.description %></span>
  <% end %>
<% end %>